@page "{id}"
@model ServiceHost.Pages.ArticleModel
@{
    ViewData["Title"] = Model.Article.Title;
    ViewData["keyword"] = Model.Article.Keywords;
    ViewData["metaDescription"] = Model.Article.MetaDescription;
}
<div class="breadcrumb-area section-space--half">
    <div class="container wide">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-wrapper breadcrumb-bg">
                    <div class="breadcrumb-content">
                        <h1 class="breadcrumb-content__title">@Model.Article.Title</h1>
                        <ul class="breadcrumb-content__page-map">
                            <li>
                                <a asp-page="/Index">خانه</a>
                            </li>
                            <li>
                                <a asp-page="/ArticleCategory" asp-route-id="@Model.Article.CategorySlug">@Model.Article.CategoryName</a>
                            </li>
                            <li class="active">@Model.Article.Title</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  page wrapper  =======-->
                <div class="page-wrapper">
                    <div class="page-content-wrapper">
                        <div class="row">

                            <div class="col-lg-9 order-1 order-lg-1">
                                <!--=======  blog page content  =======-->
                                <div class="blog-page-content">
                                    <!--=======  blog post container  =======-->

                                    <div class="blog-single-post-container">

                                        <!--=======  post title  =======-->


                                        <h3 class="post-title">@Model.Article.Title</h3>
                                        <div class="post-meta">
                                            <p>
                                                <span>
                                                    <i class="fa fa-calendar"></i> نوشته شده در:
                                                    @Model.Article.PublishDate
                                                    </a>
                                                </span>
                                            </p>
                                        </div>

                                        <div class="single-blog-post-media">
                                            <div class="image">
                                                <img src="~/ProductPictures/@Model.Article.Picture" class="img-fluid" alt="@Model.Article.PictureAlt" title="@Model.Article.PictureTitle">
                                            </div>
                                        </div>
                                        <div class="post-content">
                                            @Html.Raw(Model.Article.Description)
                                        </div>

                                        <!--=======  End of Post content  =======-->
                                        <!--=======  Tags area  =======-->

                                        <div class="tag-area">
                                            <span>تگ ها: </span>
                                            <ul>
                                                @foreach (var tag in Model.Article.KeywordList)
                                                {
                                                    <li><a asp-page="/Search" asp-route-value="@tag">@tag</a>,</li>
                                                }


                                            </ul>
                                        </div>

                                        <!--=======  End of Tags area  =======-->
                                        <!--=======  Share post area  =======-->

                                        <div class="social-share-buttons">
                                            <h3>share this post</h3>
                                            <ul>
                                                <li>
                                                    <a class="twitter" href="#">
                                                        <i class="fa fa-twitter"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="facebook" href="#">
                                                        <i class="fa fa-facebook"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="google-plus" href="#">
                                                        <i class="fa fa-google-plus"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="pinterest" href="#">
                                                        <i class="fa fa-pinterest"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <!--=======  End of blog post container  =======-->
                                    <!--=============================================
                                    =            Comment section         =
                                    =============================================-->

                                    <div class="comment-section">
                                        <h3 class="comment-counter">نظرات  (@Model.Article.Comments.Count)</h3>

                                        <!--=======  comment container  =======-->

                                        <div class="comment-container">
                                            @foreach (var comment in Model.Article.Comments)
                                            {
                                                <div class="single-comment" id="Comment-@comment.Id">
                                                    <span class="reply-btn">
                                                        <a href="#postComment" onclick='$("#commentParentId").val(@comment.Id)'>پاسخ</a>
                                                    </span>

                                                    <div class="image">
                                                        <img src="~/Theme/assets/img/blog/" alt="">
                                                    </div>
                                                    <div class="content">
                                                        <h3 class="user">
                                                            @comment.Name <span class="comment-time">
                                                                @comment.CreationDate
                                                            </span>
                                                        </h3>
                                                        @if (comment.ParentId > 0)
                                                        {


                                                    <span>در پاسخ به:</span>  <a href="#Comment-@comment.Id"> @comment.ParentName</a>
                                                                
                                                            
                                                        }
                                                        <p class="comment-text">
                                                            @comment.Message
                                                        </p>
                                                    </div>

                                                </div>
                                            }






                                        </div>

                                        <!--=======  End of comment container  =======-->
                                        <!--=======  comment form container  =======-->

                                        <div class="comment-form-container">
                                            <h3 class="comment-form-title">نظر خود را با ما به اشتراک بگذارید</h3>
                                            <p>
                                                ایمیل وارد شده توسط شما بصورت محرمانه است و به دیگران نمایش نخواهد شد
                                            </p>

                                            <!--=======  comment form  =======-->

                                            <div class="comment-form" id="postComment">
                                                <form method="post">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="form-group">
                                                                <label>نظر شما</label>
                                                                <textarea name="message" id="message" placeholder="نظر خود را بنویسید"></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="form-group">
                                                                <label>نام <span class="required">*</span></label>
                                                                <input type="text" name="name" placeholder="مثال: علی علوی">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="form-group">
                                                                <label>ایمیل <span class="required">*</span></label>
                                                                <input type="text" name="email" placeholder="test@yahoo.com">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="form-group">
                                                                <label>آدرس وبسایت</label>
                                                                <input type="text" name="website" placeholder="مثال :  https://google.com">
                                                            </div>
                                                        </div>
                                                        <input type="hidden" id="ArticleId" name="OwnerRecordId" value="@Model.Article.Id" />
                                                        <input type="hidden" id="ArticleId" name="articleSlug" value="@Model.Article.Slug" />
                                                        <input type="hidden" id="parentId" name="commentParentId" value="" />
                                                        <div class="col-lg-12">
                                                            <button type="submit" class="comment-btn"
                                                                    name="submit">
                                                                ارسال
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>

                                            <!--=======  End of comment form  =======-->
                                        </div>

                                        <!--=======  End of comment form container  =======-->

                                    </div>


                                    <!--=====  End of Comment section  ======-->
                                </div>
                                <!--=======  End of blog page content  =======-->
                            </div>
                            <div class="col-lg-3 order-2 order-lg-2">
                                <!--=======  page sidebar wrapper =======-->
                                <div class="page-sidebar-wrapper">
                                    <!--=======  single sidebar widget  =======-->
                                    <div class="single-sidebar-widget">

                                        <h4 class="single-sidebar-widget__title">گروه مقالات</h4>
                                        <ul class="single-sidebar-widget__category-list">
                                            @foreach (var item in Model.ArticleCategories)
                                            {
                                                <li>
                                                    <a asp-page="/ArticleCategory" asp-route-id="@item.Slug" class="active">
                                                        @item.Name <span class="counter">@item.ArticlesCount</span>
                                                    </a>

                                                </li>
                                            }



                                        </ul>
                                    </div>

                                    <div class="single-sidebar-widget">

                                        <h4 class="single-sidebar-widget__title">آخرین مقالات</h4>
                                        <div class="block-container">
                                            @foreach (var item in Model.LatestArticles)
                                            {
                                                <div class="single-block d-flex">
                                                    <div class="image">
                                                        <a asp-page="/Article" asp-route-id="@item.Slug">
                                                            <img src="~/ProductPictures/@item.Picture"
                                                                 class="img-fluid" alt="@item.PictureAlt" title="@item.PictureTitle">
                                                        </a>
                                                    </div>
                                                    <div class="content">
                                                        <p>
                                                            <a asp-page="/Article" asp-route-id="@item.Slug">
                                                                @item.Title
                                                            </a> <span>@item.PublishDate</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            }

                                        </div>


                                    </div>

                                    <!--<div class="single-sidebar-widget">

                                        <h4 class="single-sidebar-widget__title">Recent Comments</h4>-->
                                    <!--=======  block container  =======-->
                                    <!--<div class="block-container">-->
                                    <!--=======  single block  =======-->
                                    <!--<div class="single-block comment-block d-flex">
                                        <div class="image">
                                            <a href="blog-post-image-format.html">
                                                <img src="assets/img/blog/comment-icon.png"
                                                     class="img-fluid" alt="">
                                            </a>
                                        </div>
                                        <div class="content">
                                            <p>
                                                <span>Admin Says</span> <a href="blog-post-image-format.html">
                                                    The biggest lie in
                                                    plant
                                                </a>
                                            </p>
                                        </div>
                                    </div>-->
                                    <!--=======  End of single block  =======-->
                                    <!--=======  single block  =======-->
                                    <!--<div class="single-block comment-block d-flex">
                                        <div class="image">
                                            <a href="blog-post-image-gallery.html">
                                                <img src="assets/img/blog/comment-icon.png"
                                                     class="img-fluid" alt="">
                                            </a>
                                        </div>
                                        <div class="content">
                                            <p>
                                                <span>Admin Says</span><a href="blog-post-image-gallery.html">
                                                    How to improve plant
                                                    quality
                                                </a>
                                            </p>
                                        </div>
                                    </div>-->
                                    <!--=======  End of single block  =======-->
                                    <!--=======  single block  =======-->
                                    <!--<div class="single-block comment-block d-flex">
                                        <div class="image">
                                            <a href="blog-post-audio-format.html">
                                                <img src="assets/img/blog/comment-icon.png"
                                                     class="img-fluid" alt="">
                                            </a>
                                        </div>
                                        <div class="content">
                                            <p>
                                                <span>Admin Says</span><a href="blog-post-audio-format.html">
                                                    101 ideas for
                                                    plant
                                                </a>
                                            </p>
                                        </div>
                                    </div>-->
                                    <!--=======  End of single block  =======-->
                                    <!--=======  single block  =======-->
                                    <!--<div class="single-block comment-block d-flex">
                                        <div class="image">
                                            <a href="blog-post-video-format.html">
                                                <img src="assets/img/blog/comment-icon.png"
                                                     class="img-fluid" alt="">
                                            </a>
                                        </div>
                                        <div class="content">
                                            <p>
                                                <span>Admin Says</span><a href="blog-post-video-format.html">
                                                    No more mistakes with
                                                    plant
                                                </a>
                                            </p>
                                        </div>
                                    </div>-->
                                    <!--=======  End of single block  =======-->
                                    <!--</div>-->
                                    <!--=======  End of block container  =======-->
                                    <!--</div>-->
                                    <!--=======  End of single sidebar widget  =======-->
                                    <!--=======  single sidebar widget  =======-->
                                    <div class="single-sidebar-widget">
                                        <h4 class="single-sidebar-widget__title">تگ ها</h4>
                                        <ul class="single-sidebar-widget__tag-list">

                                            @foreach (var tag in Model.Article.KeywordList)
                                            {
                                                <li>
                                                    <a asp-page="/Search" asp-route-value="@tag">@tag</a>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                    <!--=======  End of single sidebar widget  =======-->
                                </div>
                                <!--=======  End of page sidebar wrapper  =======-->
                            </div>
                        </div>
                    </div>
                </div>
                <!--=======  End of page wrapper  =======-->
            </div>
        </div>
    </div>
</div>