@page
@model Areas.Administrator.Pages.Blog.Articles.EditModel
@{
    Layout = "Shared/_AdminLayout";
    ViewData["Title"] = "ویرایش مقاله";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">ویرایش مقاله: @Model.Command.Title</h3>
            </div>
            <div class="panel-body">
                <form method="post" enctype="multipart/form-data">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="@Model.Command.Title" class="control-label">عنوان</label>
                                <input type="text" class="form-control" asp-for="@Model.Command.Title" onchange="makeSlug('Title', 'Slug')">
                                <span asp-validation-for="@Model.Command.Title" class="error"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="@Model.Command.Slug" class="control-label">اسلاگ</label>
                                <input type="text" class="form-control" asp-for="@Model.Command.Slug">
                                <span asp-validation-for="@Model.Command.Slug" class="error"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="@Model.Command.PublishDate" class="control-label"> تاریخ انتشار</label>
                                <input type="text" class="form-control persianDateInput" asp-for="@Model.Command.PublishDate">
                                <span asp-validation-for="@Model.Command.PublishDate" class="error"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="@Model.Command.Picture" class="control-label">عکس</label>
                                <input type="file" class="form-control" asp-for="@Model.Command.Picture" accept="image/*">
                                <span asp-validation-for="@Model.Command.Picture" class="error"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="@Model.Command.CategoryId">گروه مقاله</label>
                                <select class="form-control" asp-for="@Model.Command.CategoryId" asp-items='Model.ArticleCategories'>
                                    <option value="0">گروه مقالات ..</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="@Model.Command.PictureAlt" class="control-label">alt عکس</label>
                                <input type="text" class="form-control" asp-for="@Model.Command.PictureAlt">
                                <span asp-validation-for="@Model.Command.PictureAlt" class="error"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="@Model.Command.PictureTitle" class="control-label"> عنوان عکس</label>
                                <input type="text" class="form-control" asp-for="@Model.Command.PictureTitle">
                                <span asp-validation-for="@Model.Command.PictureTitle" class="error"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group no-margin">
                                <label asp-for="@Model.Command.ShortDescription" class="control-label">توضیحات کوتاه</label>
                                <textarea class="form-control autogrow" asp-for="@Model.Command.ShortDescription" onchange="fillField('ShortDescription', 'MetaDescription')"
                                          style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 104px;"></textarea>
                                <span asp-validation-for="@Model.Command.ShortDescription" class="error"></span>
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group no-margin">
                                <label asp-for="@Model.Command.Description" class="control-label">توضیحات</label>
                                <textarea class="form-control" id="BodyContent" asp-for="@Model.Command.Description" onchange="fillField('Description', 'MetaDescription')"
                                          style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 104px;"></textarea>
                                <span asp-validation-for="@Model.Command.Description" class="error"></span>
                            </div>
                        </div>
                    </div>




                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="@Model.Command.Keywords" class="control-label">کلمات کلیدی</label>
                                <input type="text" class="form-control" asp-for="@Model.Command.Keywords">
                                <span asp-validation-for="@Model.Command.Keywords" class="error"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group no-margin">
                                <label asp-for="@Model.Command.MetaDescription" class="control-label">توضیحات متا</label>
                                <textarea class="form-control autogrow" asp-for="@Model.Command.MetaDescription"
                                          style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 104px;"></textarea>
                                <span asp-validation-for="@Model.Command.MetaDescription" class="error"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group no-margin">
                                <label asp-for="@Model.Command.CanonicalAddress" class="control-label">CanonicalAddress</label>
                                <textarea class="form-control autogrow" asp-for="@Model.Command.CanonicalAddress"
                                          style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 104px;"></textarea>
                                <span asp-validation-for="@Model.Command.CanonicalAddress" class="error"></span>
                            </div>
                        </div>
                    </div>
                     <input type="hidden" asp-for="@Model.Command.Id" value="@Model.Command.Id" />
                    <button type="submit" class="btn btn-success">ویرایش</button>
                    <a asp-page="./Index" class="btn btn-primary"> بازگشت </a>
                </form>
            </div>
        </div>
    </div>
</div>

